.gallery {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 145vh;
    padding-top: 4rem;
}

.galleryHead {
    color: #efce2b;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.galleryPic {
    width: 85%;
}