.n-wrapper {
  height: 14vh;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 1001;
  background-color: #f0f8ffe6;
  width: 100%;
  left: 0;
  box-shadow: 1px 4px 5px #00000026;
  cursor: pointer;
}

.n-left {
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-logo img {
  width: 3em;
  margin-left: 2em;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
  margin-left: 4.5em;
}

.n-list>ul {
  display: flex;
  gap: 2rem;
}

.n-list>ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

@media screen and (max-width: 514px) {
  .n-right {
    margin-left: 2em;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 1.5rem;
  height: 0.2rem;
  margin: 0.14rem;
  background: #959191;
  transition: 0.3s ease-in;
}

.contactBtn {
  margin-left: 50%;
}

@media screen and (max-width: 853px) {
  .contactBtn {
    margin-left: 0;
  }

  .nav__toggler {
    display: block;
    cursor: pointer;
    padding: 9px;
    margin-left: 20%;
  }

  .nav__menu {
    position: fixed;
    top: 11vh;
    right: 0;
    height: 85vh;
    width: 35vw;
    background: #f0d02f;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    gap: 0;
  }

  .n-list>ul {
    gap: 0;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
  color: var(--orange);
}

.active {
  color: var(--orange);
}

/* Toggle Icon Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}