.card {
  width: 10rem;
  height: 17rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 1rem;
  width: 10rem;
  background: rgb(131 58 180);
  border: 7px solid rgb(9 9 121 / 32%);
  box-shadow: -9px 13px 11px #5555555e;
  border-radius: 20px;
  padding: 0px 26px 2rem 26px;
}

.card span:nth-of-type(2) {
  color: rgb(25 25 60);
  font-size: 16px;
  font-weight: 600;
}

.card>img {
  transform: scale(0.6);
  margin-bottom: -2rem;
}

.service-button {
  background: #FFFFFF;
  box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #5290FD;
}

.service-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* cards */
@media screen and (max-width: 480px) {
  .card {
    width: auto;
  }
}