:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

@font-face {
  font-family: 'Andika', sans-serif;
  src: inherit;
}

/* src: url('../src/fonts/*'); */

* {
  font-family: 'Andika', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0;
}

/* html {
  scroll-behavior: smooth;
} */

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 6px 12px 3px rgb(251 161 40 / 42%);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}

/* waves  */
.wave1 {
  width: 110%;
  margin-top: -2%;
  margin-left: -4%;
  margin-bottom: -53%;
}

.wave1b {
  width: 110%;
  margin-top: -2% !important;
  margin-left: -5%;
  margin-bottom: -53%;
}

.wave2 {
  width: 84rem;
  margin-top: 16.5%;
  margin-left: -8%;
  margin-bottom: 2%;
}

.wave2b {
  width: 100rem;
  height: 47vh;
  margin-top: 13%;
  margin-left: -30%;
  margin-bottom: 0%;
}

.wave3 {
  width: 80rem;
  margin-left: -7%;
  margin-bottom: -37%;
}

.wave4 {
  width: 113%;
  margin-left: -7%;
  margin-bottom: -18%;
}

.wave4b {
  width: 113%;
  margin-left: -7%;
  margin-bottom: -38%;
}

.wave5 {
  width: 101.7%;
  margin-left: -7%;
  position: absolute;
  z-index: 1;
  margin-top: 1%;
  height: 24vh;
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }
}



@media screen and (max-width: 718px) {

  .modal {
    font-size: 10px;
    padding: 2px 2px !important;
  }

  .modal:before {
    display: none;
  }

  .bottom-block {
    padding: 4px !important;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 7px 10px;
  line-height: 20px;
  right: -22px;
  top: -20px;
  font-size: 24px;
  background: #7e7e7e;
  border-radius: 18px;
  border: 3px solid #242424;
}

.modal {
  font-size: 18px;
  text-align: center;
  padding: 10px 5px;
  margin: auto;
  position: relative;
  background: #0169f9;
  color: #fff;
  padding: 24px 150px 24px 24px;
  border-radius: 8px 8px 0 0;
}

.modal:before {
  content: "";
  bottom: -60px;
  right: -10px;
  position: absolute;
  background-image: url(../src/components/img/rocket.png);
  width: 159px;
  height: 159px;
  background-size: 159px;
  background-repeat: no-repeat;
}

.header-modal {
  margin-top: 4px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
}

.bottom-block {
  border-radius: 0 0 8px 8px;
  color: #000;
  background: #fff;
  padding: 24px;
}

.bottom-block>p {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  line-height: 22px;
  font-size: 14px;
  z-index: 2;
  position: relative;
}

.block-footer {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.block-footer>a>button {
  height: 50px;
  padding: 0 20px;
  font-weight: bold;
  background-color: #1a73e8;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
}